<%- include('header') -%>
        <h1><%= title %></h1>

        <% for(let item of items) {%>
            <div>
                Name: <a href=<%= item.url %>><%= item.name %></a><br>
                Description: <%= item.description %><br>
                Category: <a href=<%= item.category.url %>><%= item.category.name %></a><br>
                Price: <%= item.price %><br>
                # in stock: <%= item.number_in_stock %><br>
                <a href=<%= item.url + '/delete'%>><button>DELETE</button></a>
            </div><br>
        <% } %>
<%- include('footer') -%>
